/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Fondo más oscuro */
  color: #e5e5e5; /* Texto claro */
  margin: 0;
  padding: 0;
}

/* Contenido de partidos */
.partidos {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.grupo-partidos {
  margin-bottom: 30px;
}

.fecha-titulo {
  background-color: #004d00;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.fecha-titulo h3 {
  margin: 0;
  font-size: 1.5em;
}

.partido {
  background-color: #1f1f1f;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.partido:hover {
  background-color: #333;
}

.partido-header {
  display: flex;
  justify-content: flex-end;
}

.hora {
  font-size: 1.2em;
  color: #ffcc00; /* Naranja */
}

.equipos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.equipo {
  display: flex;
  align-items: center;
}

.equipo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.vs {
  font-size: 1.5em;
  text-align: center; /* Centrado del texto VS */
  flex: 1;
}

.cuotas {
  display: flex;
  justify-content: space-around;
}

.cuota {
  font-size: 1.1em;
  color: #ffcc00; /* Naranja */
}