body {
  background-color: #121212; /* Fondo igual que las demás páginas */
  font-family: Arial, sans-serif;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegurar que el body ocupe toda la altura de la ventana */
  overflow-y: auto; /* Permitir el desplazamiento vertical */
}

.content {
  max-width: 90%; /* Usar un ancho máximo del 90% */
  margin: 20px auto; /* Centrar horizontalmente */
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 40px);
}

.quiniela-title {
  color: #ffcc00; /* Color amarillo para el título */
  text-align: center;
}

.quiniela-description {
  text-align: center;
  font-size: 1.2em;
}

#quinielaIframe {
  width: 100%;
  border: none;
  min-height: 100vh; /* Asegurar que el iframe tenga al menos la altura de la ventana */
}

/* Estilos para el botón de comprobar resultados */
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.check-results-button {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: white;
  background-color: #121212;
  border: 1px solid #ff9800;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.check-results-button:hover {
  background-color: #1e1e1e;
  border-color: #ff9800;
}