/* Estilos para el header */
header {
  background-color: #004d00; /* Verde oscuro */
  color: white;
  padding: 15px 0;
  position: relative; /* Aseguramos que el header tenga contexto de posición */
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .left-content {
  flex: 1;
  text-align: left;
}

header .center-content {
  flex: 1;
  text-align: center;
}

header .center-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

header .center-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
  padding: 5px 0; /* Añadido para espacio entre el texto y la barra */
}

header .center-nav a:hover {
  color: #ffcc00; /* Amarillo */
}

header .center-nav a.active {
  color: #ffcc00; /* Amarillo */
  border-bottom: 2px solid #ffcc00; /* Barra amarilla debajo del enlace activo */
}

header .right-content {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  text-decoration: none; /* Elimina el subrayado del enlace */
}

header h1 {
  font-size: 3em;
  margin: 0;
  margin-left: 10px; /* Ajusta el margen izquierdo para alinear correctamente */
}

header .bet {
  color: #ffcc00; /* Amarillo */
}

header .numero {
  color: white;
}

#nav-user {
  display: flex;
  align-items: center;
}

#nav-guest {
  display: flex;
  align-items: center;
  position: relative;
}

nav .button, nav .small-button {
  background-color: #008c56; /* Verde medio */
  color: white;
  border: none;
  padding: 4px 8px;  /* Tamaño reducido */
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8em;
  transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

nav .button:hover, nav .small-button:hover {
  background-color: #006c3f; /* Verde oscuro */
  transform: scale(1.05); /* Animación al pasar el ratón */
}

nav .button:active, nav .small-button:active {
  transform: scale(0.95); /* Animación al hacer clic */
}

nav .logo {
  width: auto;
  height: 40px; /* Aumentar la altura del logo */
  margin-left: 10px;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  height: 40px; /* Asegurar que la altura sea igual a la del logo */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #121212;
  border-radius: 8px; /* Esquinas redondeadas */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden; /* Ocultar contenido excedente */
  max-height: 0;
  transition: max-height 0.5s ease-out; /* Transición suave */
}

/* Ajuste para que el menú aparezca más abajo del header */
#guest-menu {
  top: 50px; /* Ajustar esta distancia según sea necesario */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #121212;
  border-bottom: 1px solid #333;
  transition: background-color 0.3s; /* Transición suave */
}

.dropdown-content a:hover {
  background-color: #1e1e1e; /* Fondo más oscuro al pasar el ratón */
}

.dropdown-content a:last-child {
  border-bottom: none; /* Elimina el borde del último elemento */
}

.saldo-label {
  margin-right: 5px;
  font-size: 1.2em;
}

.balance {
  margin-right: 15px;
  font-size: 1.2em;
}

.dropdown-content.show {
  display: block;
  max-height: 300px; /* Ajustar según el contenido del menú */
  transition: max-height 0.5s ease-in;
}

/* Media Queries para ajustar el tamaño en dispositivos móviles */
@media (max-width: 767px) {
  header h1 {
    font-size: 1em; /* Reducir tamaño del texto "Bet2000" */
  }

  nav .button, nav .small-button {
    padding: 1px 2px;
    font-size: 0.5em;
    margin: 0 2px;
  }

  nav .logo {
    height: 15px;  /* Ajustar la altura del logo para que coincida con los botones */
  }

  header .center-nav {
    flex-direction: row;
    gap: 5px;
  }

  header .center-nav a {
    font-size: 0.6em;
  }

  .menu-icon {
    font-size: 0.5em;
    height: 15px;
  }

  .saldo-label {
    font-size: 0.5em;
    margin-right: 2px;
  }

  .balance {
    font-size: 0.5em;
    margin-right: 2px;
  }

  .dropdown-content a {
    padding: 5px 8px;
    font-size: 0.6em;
  }
}