/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo más oscuro */
    color: #e5e5e5; /* Texto claro */
}

/* Cabecera */
header {
    background-color: #004d00; /* Verde oscuro */
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .left-content {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

header .center-content {
    text-align: center;
}

header .right-content {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

header a {
    text-decoration: none;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header .bet {
    color: #ffcc00; /* Amarillo */
}

header .numero {
    color: white;
}

header nav#nav-guest {
    display: inline-block;
}

header nav#nav-guest button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9em; /* Hacemos los botones más pequeños */
    background-color: #008c56; /* Verde medio */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header nav#nav-guest button:hover {
    background-color: #006c3f; /* Verde oscuro */
}

header nav#nav-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav#nav-user button {
    padding: 5px 10px;
    font-size: 0.9em; /* Hacemos el botón más pequeño */
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ajustamos el ancho del botón */
    margin-right: 10px; /* Añadimos margen a la derecha */
}

header nav#nav-user button:hover {
    background-color: #c82333; /* Rojo oscuro */
}

header nav#nav-user .logo {
    width: 30px; /* Ajustamos el tamaño del logo */
    height: 30px;
}

/* Equipos */
.equipos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centramos el contenedor */
    width: 100%; /* Ajustamos el ancho del contenedor */
}

.equipo {
    display: flex;
    align-items: center;
}

.vs {
    margin: 0 10px;
    font-size: 1.2em;
    color: #ffcc00; /* Naranja */
}

.second-team {
    justify-content: flex-end;
}

.escudo {
    width: 30px; /* Ajustamos el tamaño de los escudos */
    height: 30px;
    margin-right: 5px;
}

.nombre-equipo {
    font-size: 1em; /* Ajustamos el tamaño de la fuente */
    font-weight: bold;
    color: white;
}

/* Título del Partido */
.titulo-partido {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

/* Botones de cuotas */
.cuota-boton {
    flex: 1;
    text-align: left; /* Alineamos el texto a la izquierda */
    padding: 10px;
    margin: 5px;
    background-color: #121212; /* Igual que el fondo */
    border: 1px solid #ff9800;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Color del texto */
    display: flex;
    justify-content: space-between; /* Distribuir el contenido entre los bordes */
    align-items: center;
    font-size: 1.2em; /* Aumentamos el tamaño de la fuente */
}

.cuota-boton:hover {
    background-color: #1e1e1e; /* Fondo un poco más claro cuando se pasa el ratón */
}

.cuota-boton.seleccionada {
    background-color: #ff9800; /* Color de fondo cuando está seleccionada */
    color: #fff; /* Color del texto cuando está seleccionada */
}

.cuota {
    color: #ff9800; /* Color de la cuota */
    margin-left: auto; /* Alinear la cuota a la derecha */
    font-size: 1.2em; /* Aumentamos el tamaño de la fuente */
}

/* Menú desplegable */
.select-container {
    display: inline-block;
    margin-left: 10px;
    width: 100%; /* Ajustamos el ancho del contenedor */
}

.select-container select {
    background-color: #333; /* Fondo más oscuro */
    color: #e5e5e5; /* Texto claro */
    border: none;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%; /* Ajustamos el ancho del select */
}

.select-container select:focus {
    border-color: #ffcc00; /* Amarillo */
}

/* Formulario de apuesta */
.apuesta-form {
    margin-top: 15px; /* Ajustamos el margen superior */
    width: 100%; /* Ajustamos el ancho del formulario */
    margin: 0 auto; /* Centramos el formulario */
}

input[type="number"] {
    width: 100%;
    padding: 8px; /* Ajustamos el padding */
    margin: 8px 0; /* Ajustamos el margen */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333; /* Fondo más oscuro */
    color: #e5e5e5; /* Texto claro */
}

input[type="number"]:focus {
    border-color: #ffcc00; /* Amarillo */
}

button {
    width: 100%;
    padding: 10px; /* Ajustamos el padding */
    background-color: #008c56; /* Verde medio */
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006c3f; /* Verde oscuro */
}

/* Pie de página */
footer {
    text-align: center;
    padding: 18px; /* Ajustamos el padding */
    background-color: #004d00; /* Verde oscuro */
    color: white;
}

/* Estilos para el acordeón */
.accordion {
    margin-top: 20px;
}

.accordion-button {
    background-color: #333;
    color: #e5e5e5;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    transition: background-color